@charset "utf-8";


/*reset*/
body,ul,h1,h2,h3,h4,h5,h6,p,input,textarea,form {
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	height: 100%
}

li {
	list-style: none
}

img {
	border: none;
	display: block
}

input,select,textarea,button {
	outline: none;
	border: none;
	background-color: transparent
}

textarea {
	resize: none
}

a {
	text-decoration: none;
	color: #292929
}

a:hover {
	color: #0B3689;
}

button {
	cursor: pointer;
	transition: .5s
}

button:focus {
	border: none;
	outline: none;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.fl {
	float: left
}

.fr {
	float: right
}

.clear:after,.clear:before {
	content: "";
	display: table
}

.clear:after {
	clear: both
}

.clear {
	*zoom: 1
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica Neue, PingFang SC, Microsoft YaHei;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	outline: none
}

::-webkit-scrollbar {
	margin-right: 3px;
	width: 4px;
	height: 4px
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
	background-color: transparent
}

::-webkit-scrollbar-thumb {
	width: 4px;
	border-radius: 2px;
	background-color: #e4e4e4
}

input[type=password],
input[type=text] {
	padding: 10px 0;
	height: 40px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #efefef;
	outline: none;
	-webkit-appearance: none;
	font-size: 14px;
	line-height: 20px;
	color: #3d3d3d;
	letter-spacing: .2px;
	transition: all .3s ease-out
}

input[type=password]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder {
	color: #b4b4b4
}

input[type=password]::-moz-placeholder,
input[type=text]::-moz-placeholder {
	color: #b4b4b4
}

input[type=password]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder {
	color: #b4b4b4
}

input[type=password].error,
input[type=text].error {
	border-color: #eb5356
}

input[type=password]:focus,
input[type=text]:focus {
	border-color: #00a4ec
}

input[type=checkbox] {
	-webkit-appearance: checkbox
}

button {
	border: none;
	border-radius: 2px;
	background: #fcd133;
	font-size: 14px;
	color: #3d3d3d;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all .3s ease-out
}

button:hover {
	background: #ffe06c
}

button:active {
	background: #f2c212
}

button:disabled {
	background: #fff0b9;
	color: #909090;
	cursor: not-allowed
}

button.btn-secondary {
	border: 1px solid #fcd133;
	background: transparent
}

.invisible {
	opacity: 0;
	pointer-events: none
}



/*fontIcon*/
@font-face {
	font-family: iconfont;
	src: url("./iconfont.eot?t=1497596102925");
	src: url("./iconfont.eot?t=1497596102925#iefix") format("embedded-opentype"), url("./iconfont.woff?t=1497596102925") format("woff"), url("./iconfont.ttf?t=1497596102925") format("truetype"), url("./iconfont.svg?t=1497596102925#iconfont") format("svg")
}

.iconfont {
	font-family: iconfont!important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-seed-filled:before {
	content: "\E612"
}

.icon-seed:before {
	content: "\E613"
}

.icon-my-seed:before {
	content: "\E614"
}

.icon-eye:before {
	content: "\E616"
}

.icon-wechat:before {
	content: "\E618"
}

.icon-menu-close:before {
	content: "\E619"
}

.icon-menu:before {
	content: "\E61A"
}

.icon-info:before {
	content: "\E61B"
}

.icon-card-close:before {
	content: "\E61C"
}

.icon-add:before {
	content: "\E61D"
}

.icon-error:before {
	content: "\E61E"
}

.icon-lang-en:before {
	content: "\E621"
}

.icon-lang-en-m:before {
	content: "\E624"
}

.icon-design:before {
	content: "\E629"
}

.icon-trash:before {
	content: "\E62A"
}

.icon-logo-slogan:before {
	content: "\E62B"
}

.icon-logo:before {
	content: "\E62F"
}

.icon-custom-zh:before {
	content: "\E630"
}

.icon-custom-en:before {
	content: "\E632"
}

.icon-lang-zh-m:before {
	content: "\E635"
}

.icon-lang-zh:before {
	content: "\E636"
}

.icon-new:before {
	content: "\E637"
}

.icon-community:before {
	content: "\E638"
}

.icon-color:before {
	content: "\E639"
}

.icon-font:before {
	content: "\E63A"
}

.icon-icon:before {
	content: "\E63C"
}

.icon-tool:before {
	content: "\E63D"
}

.icon-tutorial:before {
	content: "\E63E"
}

.icon-image:before {
	content: "\E63F"
}

.icon-material:before {
	content: "\E640"
}

.icon-uiux:before {
	content: "\E641"
}

.icon-inspiration:before {
	content: "\E642"
}

.icon-recommendation:before {
	content: "\E643"
}

.icon-share:before {
	content: "\E644"
}

.icon-weibo:before {
	content: "\E645"
}

.icon-arrow:before {
	content: "\E646"
}

.icon-user:before {
	content: "\E647"
}

.icon-lang:before {
	content: "\E649"
}

.icon-eye-open:before {
	content: "\E64A"
}

.icon-eye-close:before {
	content: "\E64B"
}

.icon-tick:before {
	content: "\E64C"
}

.icon-edit:before {
	content: "\E64D"
}

.icon-happy:before {
	content: "\E64F"
}

.icon-arrow-next:before {
	content: "\E650"
}

.icon-top:before {
	content: "\E651"
}

.icon-regulation:before {
	content: "\E652"
}

.icon-share-hole:before {
	content: "\E653"
}

.icon-arrow-prev:before {
	content: "\E654"
}

.icon-sprout:before {
	content: "\E655"
}

.icon-history:before {
	content: "\E656"
}

.icon-dots:before {
	content: "\E657"
}

.icon-happy-small:before {
	content: "\E658"
}

.icon-drag:before {
	content: "\E65A"
}

.icon-survey:before {
	content: "\E659"
}

.icon-see:before {
	content: "\E67C"
}


/*main*/
body {
	font-family: Arial,'Microsoft YaHei';
	width: 100%;
	height: 100%;
	font-size: 14px;
	background: #f1f5f8;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 50px;
	background: #fff;
	box-shadow: 0 6px 16px 0 rgba(211, 222, 230, .8);
	padding: 0 20px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

@media (min-width:857px) {
	.nav {
		display: none
	}
}

.btn-menu {
	width: 16px;
	height: 16px
}

.btn-menu .iconfont {
	font-size: 16px;
	color: #303030
}

.nav-logo {
	width: 80px;
	height: 30px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.nav-logo .iconfont {
	color: #3d3d3d;
	font-size: 80px
}

.btn-acc {
	width: 20px;
	height: 20px
}

.btn-acc .iconfont {
	font-size: 20px;
	color: #303030
}

#container {
	width: 100%;
	min-height: 100%;
	padding-left: 224px;
	position: relative
}

@media (max-width:856px) {
	#container {
		padding-left: 0;
		padding-top: 50px
	}
}

.side {
	position: fixed;
	top: 0;
	left: 0;
	width: 224px;
	height: 100%;
	background: #fff;
	box-shadow: 0 0 18px 0 #d4dee6
}

.btn-side-close {
	display: none
}

.btn-side-close:hover {
	cursor: pointer
}

@media (max-width:856px) {
	.btn-side-close {
		position: absolute;
		top: 16px;
		left: 16px;
		display: block;
		width: 16px;
		height: 16px
	}

	.btn-side-close .iconfont {
		font-size: 16px;
		color: #303030
	}
}

@media (max-width:856px) {
	.side {
		position: fixed;
		left: -224px;
		top: 0;
		z-index: 1000;
		opacity: 0;
		transition: left .3s ease-out
	}

	.side.active {
		left: 0;
		opacity: 1;
		box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, .6)
	}

	.side.active:after {
		content: "";
		position: absolute;
		top: 0;
		left: 100%;
		display: block;
		width: calc(100vw - 100%);
		height: 100%
	}
}

.logo-link {
	width: 100%;
	height: 120px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	text-indent: -9999px;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: url('../imgs/logo.png') no-repeat center center;
}

.logo-link-phone {
	width: 100%;
	height: 120px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	text-indent: -9999px;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: url('../imgs/logo-phone.png') no-repeat center center;
}

@media (max-width:856px) {
	.logo-link-phone {
		width: 100%;
		height: 50px;
	}
}

.logo-link .iconfont {
	color: #303030;
	font-size: 60px
}

.menu {
	width: 100%;
	height: calc(100% - 120px - 68px);
	overflow: scroll;
}

.item {
	width: 100%;
	height: auto;
	overflow: hidden
}

.item-icon {
	margin-right: 12px;
	width: 16px;
	height: 16px;
	font-weight: 400!important
}

.item.active .item-text {
	background: #f1f5f8;
	color: #3d3d3d
}

.item.active .item-text>span {
	font-weight: 700
}

.item-text {
	width: 100%;
	height: 48px;
	cursor: pointer;
	padding-left: 50px;
	font-size: 14px;
	color: #909090!important;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	transition: color .3s ease-out
}

.item-text:hover {
	color: #00a4ec!important
}

.item-text.zh {
	letter-spacing: 1.2px
}

.main {
	width: 100%;
	height: auto;
	min-height: 100%;
	min-height: 100vh;
	position: relative
}

.header {
	position: relative;
	padding: 24px 44px 0;
	width: 100%;
	height: 72px;
	border-bottom: 1px solid #d9e3ea;
	background: rgba(218, 227, 234, .24)
}

@media (max-width:631px) {
	.header {
		height: 50px;
		padding: 16px 16px 0
	}
}

.header-title {
	height: 28px;
	color: #3d3d3d;
	font-size: 20px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1
}

@media (max-width:631px) {
	.header-title {
		height: 20px;
		font-size: 16px
	}
}

.header-title-icon {
	margin-right: 10px;
	width: 28px;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.header-title-icon .iconfont {
	color: inherit!important;
	font-size: inherit!important
}

.header-title-text {
	height: 100%;
	font-size: inherit;
	color: inherit;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.header-title-text.zh {
	font-weight: 600;
	letter-spacing: 1.5px
}

.row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.btn-store {
	position: relative;
	float: right;
	margin-right: 32px;
	width: 26px;
	height: 22px;
	background: url('../img/mystore.png') no-repeat center center;
}

.btn-store:hover {
	cursor: pointer;
	background: url('../img/mystore-hov.png') no-repeat center center;
}

.btn-store.active {
	cursor: pointer;
	background: url('../img/mystore-hov.png') no-repeat center center;
}

.btn-share {
	position: relative;
	float: right;
	margin-right: 32px;
	width: 24px;
	height: 24px
}

.btn-share .iconfont {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 22px;
	color: #686868
}

.btn-share .icon-shadow {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../imgs/icon_share_hover_bg.svg");
	background-repeat: no-repeat;
	background-size: auto 22px;
	background-position: 50%;
	opacity: 0;
	transition: opacity .3s ease-out
}

.btn-share:hover .icon-shadow {
	opacity: 1
}

.btn-share .pop-wechat-code {
	position: absolute;
	top: 40px;
	left: -58px;
	z-index: 1;
	display: block;
	width: 144px;
	height: auto;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 6px 16px 0 rgba(211, 222, 230, .8);
	color: #686868;
	font-size: 12px;
	text-align: center
}

.btn-share .pop-wechat-code img {
	margin: 0 20px 20px;
	width: 104px;
	height: auto
}

.btn-share .pop-wechat-code:before {
	content: "";
	position: absolute;
	top: -12px;
	left: 66px;
	display: block;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom: 6px solid #fff
}

@media (max-width:856px) {
	.btn-share {
		display: none
	}
}

.btn-lang {
	float: right;
	position: relative;
	margin-right: 32px;
	width: 50px;
	height: 24px;
	cursor: pointer
}

.btn-lang .iconfont {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 22px;
	color: #686868
}

.btn-lang .icon-shadow {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../img/icon_lang_hover_bg.svg");
	background-repeat: no-repeat;
	background-size: auto 22px;
	background-position: 50%;
	opacity: 0;
	transition: opacity .3s ease-out
}

.btn-lang:hover .icon-shadow {
	opacity: 1
}

@media (max-width:856px) {
	.btn-lang {
		display: none
	}
}

.btn-account {
	float: right;
	width: 24px;
	height: 24px
}

@media (max-width:856px) {
	.btn-account {
		display: none
	}
}

.btn-login {
	position: relative
}

.btn-login .iconfont {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 22px;
	color: #686868
}

.btn-login .icon-shadow {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../img/icon_user_hover_bg.svg");
	background-repeat: no-repeat;
	background-size: auto 22px;
	background-position: 50%;
	opacity: 0;
	transition: opacity .3s ease-out
}

.icon-shadow.active {
	opacity: 1
}

.btn-login:hover .icon-shadow {
	opacity: 1
}

.box-user,
.btn-login {
	position: relative;
	width: 24px;
	height: 24px;
	cursor: pointer
}

.tip-panel {
	z-index: 300;
	position: relative;
	margin: 16px auto 0;
	padding: 10px 10px 0 42px;
	width: 350px;
	height: 40px;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 0 3px 0 rgba(211, 221, 229, .8);
	pointer-events: auto
}

@media (max-width:631px) {
	.tip-panel {
		position: fixed;
		bottom: 10px;
		left: 10px;
		width: calc(100% - 20px)
	}
}

.content {
	height: auto;
	min-height: 100%;
	padding: 1px 44px 70px
}

@media (max-width:631px) {
	.content {
		padding: 1px 16px 70px
	}
}

.block {
	margin: 0 auto
}

@media (max-width:631px) {
	.block {
		margin-top: 14px;
		width: 100%
	}
}

@media (min-width:632px) and (max-width:1139px) {
	.block {
		width: 544px
	}
}

@media (min-width:1140px) and (max-width:1423px) {
	.block {
		width: 828px
	}
}

@media (min-width:1424px) {
	.block {
		width: 1112px
	}
}

.section {
	padding: 30px 0 0
}

@media (max-width:631px) {
	.section {
		margin-top: -50px;
		padding: 68px 0 0
	}
}

.section:first-child {
	padding-top: 20px
}

@media (max-width:631px) {
	.section:first-child {
		padding: 64px 0 0
	}
}

.title {
	margin-bottom: 24px;
	height: 28px;
	font-size: 20px;
	color: #777;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

@media (max-width:631px) {
	.title {
		margin-bottom: 0;
		height: 20px;
		font-size: 16px
	}
}

.title-icon {
	margin-right: 10px;
	width: 28px;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.title-icon .iconfont,
.title-text {
	font-size: inherit;
	color: inherit
}

.title-text {
	height: 100%;
	letter-spacing: 1.2px;
	font-weight: 400
}

.card-des,
.fw-l {
	font-weight: 400
}

.card-wrapper {
	width: calc(100% + 24px)
}

@media (max-width:631px) {
	.card-wrapper {
		width: 100%
	}
}

.card {
	margin: 0 24px 24px -4px;
	width: 260px;
	height: 88px;
	display: inline-block;
	vertical-align: top
}

.card.dragging {
	margin: 0;
	padding: 24px 24px 0 0;
	width: 284px;
	height: 112px
}

@media (max-width:631px) {
	.card {
		margin: 17px 0 0;
		width: 100%;
		height: 100px
	}

	.card.dragging {
		margin: 0;
		padding: 17px 0 0;
		width: 100%;
		height: 117px
	}
}

.card-default {
	width: 260px;
	height: 88px;
	border-radius: 4px;
	background: #fff;
	cursor: pointer;
	padding: 16px;
	display: block;
	transition: all .2s ease-out
}

.card:hover {
	box-shadow: 0 6px 16px 0 #d6e0e8
}

@media (max-width:631px) {
	.card-default {
		padding: 18px;
		width: 100%;
		height: 100%
	}
}

.card-icon {
	position: relative;
	top: 2px;
	margin-right: 8px;
	display: inline-block;
	vertical-align: top;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	overflow: hidden
}

@media (max-width:631px) {
	.card-icon {
		top: 6px;
		margin-right: 14px;
		width: 36px;
		height: 36px;
		border-radius: 18px
	}
}

.card-icon-default {
	position: relative;
	top: 2px;
	margin-right: 8px;
	width: 32px;
	height: 32px;
	border-radius: 18px;
	border: 1px solid #686868;
	overflow: hidden;
	color: #686868;
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	line-height: 32px
}

@media (max-width:631px) {
	.card-icon-default {
		top: 6px;
		margin-right: 14px;
		width: 36px;
		height: 36px
	}
}

.card-main {
	display: inline-block;
	width: calc(100% - 45px);
	height: 40px;
	position: relative
}

.card-main:after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 0;
	height: 100%;
	box-shadow: 0 0 0 0 #fff
}

@media (max-width:631px) {
	.card-main {
		width: calc(100% - 55px)
	}
}

.card-name {
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	color: #3d3d3d;
	letter-spacing: .2px;
	white-space: nowrap;
	overflow: hidden;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	transition: color .3s ease-out
}

.card:hover .card-name {
	color: #00a4ec
}

.card-name .icon-new {
	position: relative;
	color: #eb5356;
	font-size: 20px
}

.card-name .mark-icon {
	margin-left: 8px;
	width: 50px;
	height: 16px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

@media (max-width:631px) {
	.card-name {
		font-size: 16px
	}
}

.card-des {
	margin-top: 3px;
	width: 100%;
	font-size: 12px;
	color: #909090;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color .3s ease-out
}

.card:hover .card-des {
	color: #686868
}

@media (max-width:631px) {
	.card-des {
		margin-top: 4px;
		font-size: 14px
	}
}

.card-count {
	margin-top: -22px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse
}

.card-count>.like,
.card-count>.view {
	margin-left: 30px;
	width: 50px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

@media (max-width:631px) {
	.card-count {
		margin-top: -30px
	}

	.card-count>.like {
		margin-left: 40px
	}
}

.like .iconfont,
.view .iconfont {
	display: inline-block;
	font-size: 18px
}

.btn-like {
	position: relative;
}

.jump {
	animation: jump .5s ease;
}

@keyframes jump {
	from,50%,80%,to {
		top: 0px;
	}

	20% {
		top: -30px;
	}

	60%,70% {
		top: -10px;
	}
}

.count-symbol {
	margin-right: 6px;
	width: 16px;
	height: 16px;
	color: #d8d8d8;
	cursor: pointer;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	transition: color .3s ease-out
}

.count-symbol.liked {
	color: #fcd133
}

@media (max-width:631px) {
	.count-symbol {
		width: 14px;
		height: 14px
	}
}

.count-num {
	font-size: 12px;
	color: #c8c8c8
}

@media (max-width:631px) {
	.count-num {
		font-size: 12px
	}
}

[class*=hint--] {
	position: relative;
	display: inline-block
}

[class*=hint--]:after,
[class*=hint--]:before {
	position: absolute;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	visibility: hidden;
	opacity: 0;
	z-index: 1000000;
	pointer-events: none;
	transition: .3s ease;
	transition-delay: 0ms
}

[class*=hint--]:hover:after,
[class*=hint--]:hover:before {
	visibility: visible;
	opacity: 1;
	transition-delay: .1s
}

[class*=hint--]:before {
	content: "";
	position: absolute;
	background: transparent;
	border: 6px solid transparent;
	z-index: 1000001
}

[class*=hint--]:after {
	background: #383838;
	color: #fff;
	padding: 8px 10px;
	font-size: 12px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 12px;
	white-space: nowrap
}

[class*=hint--][aria-label]:after {
	content: attr(aria-label)
}

[class*=hint--][data-hint]:after {
	content: attr(data-hint)
}

[aria-label=""]:after,
[aria-label=""]:before,
[data-hint=""]:after,
[data-hint=""]:before {
	display: none!important
}

.hint--top-left:before,
.hint--top-right:before,
.hint--top:before {
	border-top-color: #383838
}

.hint--bottom-left:before,
.hint--bottom-right:before,
.hint--bottom:before {
	border-bottom-color: #383838
}

.hint--left:before {
	border-left-color: #383838
}

.hint--right:before {
	border-right-color: #383838
}

.hint--top:before {
	margin-bottom: -11px
}

.hint--top:after,
.hint--top:before {
	bottom: 100%;
	left: 50%
}

.hint--top:before {
	left: calc(50% - 6px)
}

.hint--top:after {
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%)
}

.hint--top:hover:before {
	-webkit-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	transform: translateY(-8px)
}

.hint--top:hover:after {
	-webkit-transform: translateX(-50%) translateY(-8px);
	-ms-transform: translateX(-50%) translateY(-8px);
	transform: translateX(-50%) translateY(-8px)
}

.hint--bottom:before {
	margin-top: -11px
}

.hint--bottom:after,
.hint--bottom:before {
	top: 100%;
	left: 50%
}

.hint--bottom:before {
	left: calc(50% - 6px)
}

.hint--bottom:after {
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%)
}

.hint--bottom:hover:before {
	-webkit-transform: translateY(8px);
	-ms-transform: translateY(8px);
	transform: translateY(8px)
}

.hint--bottom:hover:after {
	-webkit-transform: translateX(-50%) translateY(8px);
	-ms-transform: translateX(-50%) translateY(8px);
	transform: translateX(-50%) translateY(8px)
}

.hint--right:before {
	margin-left: -11px;
	margin-bottom: -6px
}

.hint--right:after {
	margin-bottom: -14px
}

.hint--right:after,
.hint--right:before {
	left: 100%;
	bottom: 50%
}

.hint--right:hover:after,
.hint--right:hover:before {
	-webkit-transform: translateX(8px);
	-ms-transform: translateX(8px);
	transform: translateX(8px)
}

.hint--left:before {
	margin-right: -11px;
	margin-bottom: -6px
}

.hint--left:after {
	margin-bottom: -14px
}

.hint--left:after,
.hint--left:before {
	right: 100%;
	bottom: 50%
}

.hint--left:hover:after,
.hint--left:hover:before {
	-webkit-transform: translateX(-8px);
	-ms-transform: translateX(-8px);
	transform: translateX(-8px)
}

.hint--top-left:before {
	margin-bottom: -11px
}

.hint--top-left:after,
.hint--top-left:before {
	bottom: 100%;
	left: 50%
}

.hint--top-left:before {
	left: calc(50% - 6px)
}

.hint--top-left:after {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	margin-left: 12px
}

.hint--top-left:hover:before {
	-webkit-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	transform: translateY(-8px)
}

.hint--top-left:hover:after {
	-webkit-transform: translateX(-100%) translateY(-8px);
	-ms-transform: translateX(-100%) translateY(-8px);
	transform: translateX(-100%) translateY(-8px)
}

.hint--top-right:before {
	margin-bottom: -11px
}

.hint--top-right:after,
.hint--top-right:before {
	bottom: 100%;
	left: 50%
}

.hint--top-right:before {
	left: calc(50% - 6px)
}

.hint--top-right:after {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	margin-left: -12px
}

.hint--top-right:hover:after,
.hint--top-right:hover:before {
	-webkit-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	transform: translateY(-8px)
}

.hint--bottom-left:before {
	margin-top: -11px
}

.hint--bottom-left:after,
.hint--bottom-left:before {
	top: 100%;
	left: 50%
}

.hint--bottom-left:before {
	left: calc(50% - 6px)
}

.hint--bottom-left:after {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	margin-left: 12px
}

.hint--bottom-left:hover:before {
	-webkit-transform: translateY(8px);
	-ms-transform: translateY(8px);
	transform: translateY(8px)
}

.hint--bottom-left:hover:after {
	-webkit-transform: translateX(-100%) translateY(8px);
	-ms-transform: translateX(-100%) translateY(8px);
	transform: translateX(-100%) translateY(8px)
}

.hint--bottom-right:before {
	margin-top: -11px
}

.hint--bottom-right:after,
.hint--bottom-right:before {
	top: 100%;
	left: 50%
}

.hint--bottom-right:before {
	left: calc(50% - 6px)
}

.hint--bottom-right:after {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	margin-left: -12px
}

.hint--bottom-right:hover:after,
.hint--bottom-right:hover:before {
	-webkit-transform: translateY(8px);
	-ms-transform: translateY(8px);
	transform: translateY(8px)
}

.hint--large:after,
.hint--medium:after,
.hint--small:after {
	white-space: normal;
	line-height: 1.4em;
	word-wrap: break-word
}

.hint--small:after {
	width: 80px
}

.hint--medium:after {
	width: 150px
}

.hint--large:after {
	width: 300px
}

.hint--error:after {
	background-color: #b34e4d;
	text-shadow: 0 -1px 0 #592726
}

.hint--error.hint--top-left:before,
.hint--error.hint--top-right:before,
.hint--error.hint--top:before {
	border-top-color: #b34e4d
}

.hint--error.hint--bottom-left:before,
.hint--error.hint--bottom-right:before,
.hint--error.hint--bottom:before {
	border-bottom-color: #b34e4d
}

.hint--error.hint--left:before {
	border-left-color: #b34e4d
}

.hint--error.hint--right:before {
	border-right-color: #b34e4d
}

.hint--warning:after {
	background-color: #c09854;
	text-shadow: 0 -1px 0 #6c5328
}

.hint--warning.hint--top-left:before,
.hint--warning.hint--top-right:before,
.hint--warning.hint--top:before {
	border-top-color: #c09854
}

.hint--warning.hint--bottom-left:before,
.hint--warning.hint--bottom-right:before,
.hint--warning.hint--bottom:before {
	border-bottom-color: #c09854
}

.hint--warning.hint--left:before {
	border-left-color: #c09854
}

.hint--warning.hint--right:before {
	border-right-color: #c09854
}

.hint--info:after {
	background-color: #3986ac;
	text-shadow: 0 -1px 0 #1a3c4d
}

.hint--info.hint--top-left:before,
.hint--info.hint--top-right:before,
.hint--info.hint--top:before {
	border-top-color: #3986ac
}

.hint--info.hint--bottom-left:before,
.hint--info.hint--bottom-right:before,
.hint--info.hint--bottom:before {
	border-bottom-color: #3986ac
}

.hint--info.hint--left:before {
	border-left-color: #3986ac
}

.hint--info.hint--right:before {
	border-right-color: #3986ac
}

.hint--success:after {
	background-color: #458746;
	text-shadow: 0 -1px 0 #1a321a
}

.hint--success.hint--top-left:before,
.hint--success.hint--top-right:before,
.hint--success.hint--top:before {
	border-top-color: #458746
}

.hint--success.hint--bottom-left:before,
.hint--success.hint--bottom-right:before,
.hint--success.hint--bottom:before {
	border-bottom-color: #458746
}

.hint--success.hint--left:before {
	border-left-color: #458746
}

.hint--success.hint--right:before {
	border-right-color: #458746
}

.hint--always:after,
.hint--always:before {
	opacity: 1;
	visibility: visible
}

.hint--always.hint--top:before {
	-webkit-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	transform: translateY(-8px)
}

.hint--always.hint--top:after {
	-webkit-transform: translateX(-50%) translateY(-8px);
	-ms-transform: translateX(-50%) translateY(-8px);
	transform: translateX(-50%) translateY(-8px)
}

.hint--always.hint--top-left:before {
	-webkit-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	transform: translateY(-8px)
}

.hint--always.hint--top-left:after {
	-webkit-transform: translateX(-100%) translateY(-8px);
	-ms-transform: translateX(-100%) translateY(-8px);
	transform: translateX(-100%) translateY(-8px)
}

.hint--always.hint--top-right:after,
.hint--always.hint--top-right:before {
	-webkit-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	transform: translateY(-8px)
}

.hint--always.hint--bottom:before {
	-webkit-transform: translateY(8px);
	-ms-transform: translateY(8px);
	transform: translateY(8px)
}

.hint--always.hint--bottom:after {
	-webkit-transform: translateX(-50%) translateY(8px);
	-ms-transform: translateX(-50%) translateY(8px);
	transform: translateX(-50%) translateY(8px)
}

.hint--always.hint--bottom-left:before {
	-webkit-transform: translateY(8px);
	-ms-transform: translateY(8px);
	transform: translateY(8px)
}

.hint--always.hint--bottom-left:after {
	-webkit-transform: translateX(-100%) translateY(8px);
	-ms-transform: translateX(-100%) translateY(8px);
	transform: translateX(-100%) translateY(8px)
}

.hint--always.hint--bottom-right:after,
.hint--always.hint--bottom-right:before {
	-webkit-transform: translateY(8px);
	-ms-transform: translateY(8px);
	transform: translateY(8px)
}

.hint--always.hint--left:after,
.hint--always.hint--left:before {
	-webkit-transform: translateX(-8px);
	-ms-transform: translateX(-8px);
	transform: translateX(-8px)
}

.hint--always.hint--right:after,
.hint--always.hint--right:before {
	-webkit-transform: translateX(8px);
	-ms-transform: translateX(8px);
	transform: translateX(8px)
}

.hint--rounded:after {
	border-radius: 4px
}

.hint--no-animate:after,
.hint--no-animate:before {
	transition-duration: 0ms
}

.hint--bounce:after,
.hint--bounce:before {
	transition: opacity .3s ease, visibility .3s ease, -webkit-transform .3s cubic-bezier(.71, 1.7, .77, 1.24);
	transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.71, 1.7, .77, 1.24);
	transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.71, 1.7, .77, 1.24), -webkit-transform .3s cubic-bezier(.71, 1.7, .77, 1.24)
}

.round {
	border-radius: 50%
}

.bg-img {
	background-color: #efefef!important;
	background-size: cover!important;
	background-position: 50%!important
}

.email {
	position: absolute;
	left: 0;
	bottom: 24px;
	width: 100%;
	height: 20px;
	color: #909090;
	font-size: 12px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.email p {
	text-align: center;
	matgin-bottom: 20px;
}

#block-like {
	padding: 20px 0 35px
}

@media (max-width:631px) {
	#block-like {
		padding-top: 0
	}
}

.card-bottom-like {
	margin-top: -26px;
	padding-left: 60px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}

@media (max-width:631px) {
	.card-bottom-like {
		margin-top: -30px;
		padding-left: 70px
	}
}

.card-section-name {
	font-size: 12px;
	color: #a2a2a2;
	letter-spacing: .17px
}

.card-btn-edit {
	position: absolute;
	right: 48px;
	bottom: 0;
	width: 16px;
	height: 16px;
	color: #d8d8d8;
	cursor: pointer;
	font-size: 14px;
	transition: color .3s ease-out
}

.card-btn-edit:hover {
	color: #00a4ec
}

.card-btn-delete {
	width: 16px;
	height: 16px;
	color: #d8d8d8;
	cursor: pointer;
	position: relative;
	font-size: 14px;
	transition: color .3s ease-out;
	margin-right: 20px
}

.card-btn-delete.active {
	color: #eb5356
}

.card-btn-delete.active .delete-tooltip {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

@media (max-width:631px) {
	.card-btn-delete {
		width: 18px;
		height: 18px
	}
}

.delete-tooltip {
	position: absolute;
	bottom: -40px;
	left: 0;
	z-index: 1;
	width: 16px;
	height: 30px;
	background: #3d3d3d;
	display: none;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

@media (max-width:631px) {
	.delete-tooltip {
		left: -30px
	}
}

.delete-tooltip:before {
	content: "";
	position: absolute;
	left: 2px;
	top: -11px;
	display: block;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom: 6px solid #3d3d3d
}

@media (max-width:631px) {
	.delete-tooltip:before {
		left: 32px
	}
}

.delete-tooltip>.separator {
	width: 1px;
	height: 14px;
	background: #686868
}

.delete-tooltip>.cancel,
.delete-tooltip>.confirm {
	position: absolute;
	top: 0;
	width: auto;
	height: 100%;
	border-radius: 2px;
	background: #3d3d3d;
	padding: 0 8px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 12px;
	letter-spacing: 2px;
	white-space: nowrap
}

#block-like.ls-en .delete-tooltip>.cancel,
#block-like.ls-en .delete-tooltip>.confirm {
	letter-spacing: .2px!important
}

.delete-tooltip>.confirm {
	right: 10px;
	color: #dcdcdc
}

.delete-tooltip>.cancel {
	left: 10px;
	color: #686868
}

.card-add {
	width: 100%;
	height: 100%;
	border: 2px dashed #a7bed1;
	border-radius: 4px;
	cursor: pointer;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 14px;
	color: #a7bed1;
	letter-spacing: .4px
}

.card-add-icon {
	margin-right: 10px;
	width: 16px;
	height: 16px
}

.card-add-icon .iconfont {
	font-size: 16px;
	color: #a7bed1
}

.card-input {
	width: 100%;
	height: auto;
	border-radius: 4px;
	background: #fff;
	padding: 16px;
	position: relative;
	-webkit-animation-duration: .3s!important
}

.card-btn-delete:hover .iconfont {
	color: red;
}

.mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	width: 100%;
	height: 100%;
	background: hsla(0, 0%, 100%, .89)
}

.login-left-wrap {
	width: 40%;
	height: 100%;
	background: #f7f7fa;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .5)
}

.login-left {
	width: 100%;
	height: 100%;
	background: url("../img/login-left.png") no-repeat center center;
}

.login-right-wrap,.register-right-wrap,.findpwd-right-wrap {
	position: relative;
	width: 50%;
	margin: 24px;
	margin-right: 40px;
}

.popout {
	margin: 0 auto;
	display: block;
	background: #fff
}

@media (max-width:631px) {
	.popout {
		padding: 24px;
		width: 100%;
		height: 100%
	}

	.login-left-wrap {
		display: none;
	}

	.login-right-wrap,.register-right-wrap, .findpwd-right-wrap {
		position: relative;
		width: 100%;
		margin: 0px;
	}
}

@media (min-width:632px) {
	.popout {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 700px;
		height: 340px;
		border-radius: 20px;
		box-shadow: 0 3px 16px 0 rgba(197, 206, 214, .9)
	}
}

.action-left {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 30%;
	height: 20px;
	text-align: left;
	cursor: pointer
}

.action-right {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 30%;
	height: 20px;
	text-align: right
}

.btn-close {
	position: absolute;
	top: 0;
	right: 0;
	color: #686868;
	font-size: 12px;
	cursor: pointer
}

.popout-title {
	padding: 10px 0 6px;
	font-size: 18px;
	font-weight: 700;
	color: #3d3d3d;
	text-align: center
}

.popout-title.zh {
	letter-spacing: 1px
}

.popout-title.en {
	letter-spacing: .8px
}

.form-row {
	margin-top: 8px
}

@media (max-width:631px) {
	.form-row {
		margin-top: 16px
	}
}

.form-error-tip {
	padding: 5px 0;
	height: 22px;
	border-radius: 2px;
	background: #ffd7d7;
	color: #eb5356;
	text-align: center;
	font-size: 12px;
	line-height: 12px
}

@media (max-width:631px) {
	.form-error-tip {
		margin-top: 10px;
		padding: 9px 0;
		height: 30px
	}
}

